/* components/About.css */

/* Styles for the About Me section */
.section {
    padding: 60px;
    text-align: center;
    color: #fff;
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .about-image img {
    max-width: 40%; /* Decrease the size of the image */
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .about-text {
    width: 70%;
    font-size: 18px; /* Decrease the font size of the text */
    line-height: 1.6; /* Increase the line height for better readability */
  }
  
  .about-text p {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
  }
  
  /* Center the content vertically and horizontally */
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #fff;
    height: 100vh;
  }
  