/* Contact.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://tse3.mm.bing.net/th?id=OIP.HPOb7wfCkByLbdsODcRTSwHaEK&pid=Api&P=0&h=180");
  background-repeat: no-repeat;
  background-size: 1700px 850px;
  color: white; /* Set text color to white */
}

h1 {
  color: white; /* Set heading color to white */
}

p {
  color: white; /* Set paragraph text color to white */
}

button {
  background-color: #212224;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px; /* Add spacing between paragraphs and button */
}

button:hover {
  background-color: #eceaea;
}
